/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:  'Open Sans', sans-serif;
}

#index{
    width: 100%;
    height: 100%;    
    background-size: cover;
    background: #b7d2e0;
}

#experience{
    width: 100%;
    height: 100%;    
    background-size: cover;
    background: #f8e9a1;

}

#projects{
    background:#fb9190;
}

body{
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 100%; 
}


/* body{
    width: 100%;
    height: 100%; */
    /* background: #cce7e8; */
    /* background: rgb(250, 227, 222); */
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */
    /* background-size: cover;
} */

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.9rem;
    font-weight: 400;
}


img{
    width: 100%;
}
/*End global*/

/*Start reusable*/

.container{
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 3rem;
}
 
.section-heading h1{
    font-size: 3.5rem;
    /* color: black; */
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom: 3rem;
}

.section-heading h1::before,.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;

}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h2{
    font-size: 2rem;

}


.section-heading h6{
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.has-margin-right{
    margin-right: 5rem;
}

#chat{
    text-align: center;
}

/*End reusable*/

/* Start header*/

.nav-wrapper{
	justify-content: space-between;
    width: 200px;
    height: 100%;
    font-size: 2em;	
    font-weight: 800 !important;
    overflow: auto;
    position: fixed;
    display: inline-block;
    margin-top: 6rem;
    margin-left: 4rem;
}

.nav-link-wrapper{
	height: 40px;
}

.nav-wrapper a{	
    /* display: block; */
	color: #8a8a8a;
	text-decoration: None;					
	transition: color 0.5s;										 
}


.nav-link-wrapper a:hover{			
	color: black;
}


.active-nav-link a{
	color: black !important;
}

.nav-wrapper li{
    display: inline; 
    font-size: 4rem;
    transition: color 650ms;
}

.fa-linkedin-in:hover{
    color: #0e76a8;
}

.fa-github:hover{
    color: #6e5494;
}

/*End header*/

.landing-text{
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-left: 0px;
} 

.landing-text h1{
    font-size: 5rem;
    font-size: 10rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #4b5668;
    letter-spacing: 0.075em;
    padding: 1rem;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 400;
    padding: 5rem;
    color: #4b5668;

}


/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img{
    display: inline-block;
    border-radius: 50%;
    width: 170px !important;
    border: 10px solid white;
}
.about-details{
    flex: 1;
    width: 80%;
    margin: auto;
    line-height: 1.6;
    color: #4b5668;
    animation: 0.8s ease-out 0s 1 slideInFromLeft;

}

/*End about*/

/*Start experience*/
.experience{
    margin-left: 100px;
}
/*End experience*/

/*Start portfolio*/
#coming-soon{
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
portfolio{
    margin-left: 100px;
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}

.profile-img{
    flex: 1;
}

.portfolio-description {
    flex: 1;
}


.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}
/*End portfolio*/

/*Start timeline*/
.timeline ul{
    border-left: 4px solid whitesmoke;
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
    line-height: 1.6;
    animation: 0.8s ease-out 0s 1 slideInFromLeft;

}

.timeline li{
    margin-bottom: 60px !important;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(70, 34, 34, 0.3);

}


.timeline .date{
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -19rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.7rem;
    color: #4b5668;
}

.timeline .date:after{
    content: '';
    box-shadow: 0 0 0 4px pink;
    border-radius: 100%;    /*make into circle*/
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #fb9190;
}



/*End timeline*/

/*Start contact*/
.contact{
    color:white;
    background-color:#2e536d ;
    margin-top: 40px;
    border: none;
    outline-color: #fd57bf;
}

button{
    width: initial;
    background-color:#e65c55;
    color: #eee;
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 650ms;
    font-size: 20px;
}

button:hover{
    background-color:#ce3635;
}

/*End contact*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: absolute;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
    color: #b7d2e0;
}

/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 rgba(253,87,191, 0.99);
    }
    70%{
        box-shadow: 0 0 2rem rgba(253,87,191, 0);
    }
    100%{
        box-shadow: 0 0 0 rgba(253,87,191, 0);
    }
}

@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/*End animations*/

/*Start media queries*/
@media screen and (max-width: 760px){
    body{
        width: 100%;
        height: 100%; 
        background: url("images/sitebg2.jpg") no-repeat center fixed;
        background-size: cover;
    }

    #index{
        width: 100%;
        height: 100%;    
        background-size: cover;
        background: #b7d2e0;
    }
    
    #experience{
        width: 100%;
        height: 100%;    
        background-size: cover;
        background: #f8e9a1;
        margin-left: 0px;
    }
    
    #projects{
        background:#fb9190;
    }
    .landing-text{
        margin-left: 0;
    }

    .nav-wrapper{
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .nav-list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 7rem;
    }
    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;  
    }

    .timeline .date:before{
        left: -20rem;
    }

    .timeline .date::after{
        left: -5.9rem;
    }
}

@media screen and (max-width: 400px){
    

    .nav-wrapper{
        position: relative;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{          /*stack on top of each other*/
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0; 
    }


    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;               /*ensures that img is before description,*/
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    /* .up{
        right: 2rem;
    } */
}


/*End media queries*/